{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% if books.count > 0 %}
                {% for book in books %}
                    <div class="book col-md-4">
                        <h2>{{ book.name }}</h2>
                        <p>Автор: {{ book.author }}</p>
                        <p>Дата публикации: {{ book.pub_date }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="pagination">
            {% if previous_pub_date %}
                <a href="/books/{{previous_pub_date}}", style="margin-right: 20px;"> <<< {{ previous_pub_date }}</a>  
            {% endif %}
            {% if next_pub_date %}
                <a href="/books/{{next_pub_date}}">{{ next_pub_date }} >>> </a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}